@import "tailwindcss";
@import "tw-animate-css";
body {
  font-family: var(--font-shopee);
}
@theme inline {
    
  /* Primary colors */
  --color-primary-50: #fef4f2;
  --color-primary-100: #fee7e2;
  --color-primary-200: #ffd3c9;
  --color-primary-300: #fdb5a4;
  --color-primary-400: #f98a70;
  --color-primary-500: #f27052;
  --color-primary-600: #de4724;
  --color-primary-700: #bb381a;
  --color-primary-800: #9a321a;
  --color-primary-900: #802f1c;
  --color-primary-950: #461409;

  /* Midnight Blue colors */
  --color-midnightBlue-50: #eef8ff;
  --color-midnightBlue-100: #dcf1ff;
  --color-midnightBlue-200: #b2e4ff;
  --color-midnightBlue-300: #6dcfff;
  --color-midnightBlue-400: #20b7ff;
  --color-midnightBlue-500: #009eff;
  --color-midnightBlue-600: #007ddf;
  --color-midnightBlue-700: #0063b4;
  --color-midnightBlue-800: #005495;
  --color-midnightBlue-900: #00457a;
  --color-midnightBlue-950: #00315c;

  /* Dove Gray colors */
  --color-doveGray-0: #ffffff;
  --color-doveGray-50: #f6f6f6;
  --color-doveGray-100: #e7e7e7;
  --color-doveGray-200: #d1d1d1;
  --color-doveGray-300: #b0b0b0;
  --color-doveGray-400: #888888;
  --color-doveGray-500: #707070;
  --color-doveGray-600: #5d5d5d;
  --color-doveGray-700: #4f4f4f;
  --color-doveGray-800: #454545;
  --color-doveGray-900: #3d3d3d;
  --color-doveGray-950: #262626;

  /* Smalt Blue colors */

  --color-smaltBlue-50: ##f2f7f9;
  --color-smaltBlue-100: #deebef;
  --color-smaltBlue-200: #c1d9e0;
  --color-smaltBlue-300: #96beca;
  --color-smaltBlue-400: #6499ac;
  --color-smaltBlue-500: #497e91;
  --color-smaltBlue-600: #3f687b;
  --color-smaltBlue-700: #385766;
  --color-smaltBlue-800: #344a56;
  --color-smaltBlue-900: #2f404a;
  --color-smaltBlue-950: #1c2930;
}
